In [1]:
import numpy as np
import pandas as pd

In [2]:
#Reading the source data
df= pd.read_csv("C:\\Users\\jaysh\\OneDrive\\Documents\\Project\\Project1- Statistics\\Laliga.csv")

In [3]:
#Assigning the first row as column header
new_header = df.iloc[0]
df = df[1:]
df.columns = new_header

In [4]:
df.columns

Index(['Pos', 'Team', 'Seasons', 'Points', 'GamesPlayed', 'GamesWon',
       'GamesDrawn', 'GamesLost', 'GoalsFor', 'GoalsAgainst', 'Champion',
       'Runner-up', 'Third', 'Fourth', 'Fifth', 'Sixth', 'T', 'Debut',
       'Since/LastApp', 'BestPosition'],
      dtype='object', name=0)

In [5]:
#Replace dashes with O from the dataset
df= df.replace("-",0)

In [6]:
#Fetching all the teams which started playing between 1930-1980
df1 = df.loc[df["Debut"]>"1930<1980",["Team"]]
df1

0                  Team
4              Valencia
6               Sevilla
9              Zaragoza
10           Real Betis
11  Deportivo La Coruna
12           Celta Vigo
13           Valladolid
15       Sporting Gijon
16              Osasuna
17               Malaga
18               Oviedo
19             Mallorca
20           Las Palmas
21           Villarreal
22              Granada
23       Rayo Vallecano
24                Elche
25               Getafe
26             Hercules
27             Tenerife
28               Murcia
30              Levante
31            Salamanca
32             Sabadell
33                Cadiz
34             Logrones
35            Castellon
36             Albacete
37              Almeria
38              Cordoba
39           Compostela
40           Recreativo
41            Burgos CF
42           Pontevedra
43             Numancia
44                Eibar
46          Real Burgos
47            Gimnastic
48          Extremadura
49               Merida
50             Alcoyano
51                 Jaen
53           AD Almeria
55               Lleida
56              Leganes
57                Xerez
58               Condal
59      Atletico Tetuan
60     Cultural Leonesa
61               Girona

In [7]:
#Converting data type for particular columns to integer to perform arithmetic opertaions
datatype_convert = {'Seasons':int, 'Points':int,'GamesPlayed':int,'GamesWon':int,'GamesDrawn':int,'GamesLost':int,'GoalsFor':int,
                  'GoalsAgainst':int, 'Champion':int,'Runner-up':int,'Third':int,'Fourth':int,'Fifth':int,'Sixth':int,'T':int
                   }
df = df.astype(datatype_convert)

In [8]:
#Finding out the datatype of all the columns in the dataframe
df.dtypes

0
Pos              object
Team             object
Seasons           int32
Points            int32
GamesPlayed       int32
GamesWon          int32
GamesDrawn        int32
GamesLost         int32
GoalsFor          int32
GoalsAgainst      int32
Champion          int32
Runner-up         int32
Third             int32
Fourth            int32
Fifth             int32
Sixth             int32
T                 int32
Debut            object
Since/LastApp    object
BestPosition     object
dtype: object

In [9]:
#Top 5 Teams by Points scored
Top_Teams = df.nlargest(5,'Points')
Top_Teams[["Team","Points"]]

0             Team  Points
1      Real Madrid    4385
2        Barcelona    4262
3  Atletico Madrid    3442
4         Valencia    3386
5  Athletic Bilbao    3368

In [10]:
# Creating a customised function to calculate the goal difference
def Goal_diff_count(x,y):
    return x-y

In [11]:
#Goal_diff is imputed in the dataframe for all the rows using the function defined
df["Goal_diff_count"] = Goal_diff_count(df["GoalsFor"],df["GoalsAgainst"])

In [12]:
# Printing the team name with maximum goal difference
print(df[["Team","Goal_diff_count"]].max())
print(df[["Team","Goal_diff_count"]].min())

0
Team               Zaragoza
Goal_diff_count        2807
dtype: object
0
Team               AD Almeria
Goal_diff_count          -525
dtype: object

In [13]:
df["Winning_percent"] = df["GamesWon"]/df["GamesPlayed"]*100
df.head(5)

,Pos,Team,Seasons,Points,GamesPlayed,GamesWon,GamesDrawn,GamesLost,GoalsFor,GoalsAgainst,...,Third,Fourth,Fifth,Sixth,T,Debut,Since/LastApp,BestPosition,Goal_diff_count,Winning_percent
1,1,Real Madrid,86,4385,2762,1647,552,563,5947,3140,...,8,8,3,4,79,1929,1929,1,2807,59.630702
2,2,Barcelona,86,4262,2762,1581,573,608,5900,3114,...,12,12,4,6,83,1929,1929,1,2786,57.241130
3,3,Atletico Madrid,80,3442,2614,1241,598,775,4534,3309,...,16,9,7,6,56,1929,2002-03,1,1225,47.475134
4,4,Valencia,82,3386,2664,1187,616,861,4398,3469,...,10,11,10,7,50,1931-32,1987-88,1,929,44.557057
5,5,Athletic Bilbao,86,3368,2762,1209,633,920,4631,3700,...,10,5,8,10,49,1929,1929,1,931,43.772629

In [14]:
# Checking whether there are Nan values in Winning_percent column
check_nan = np.isnan(df["Winning_percent"])
check_nan[df["Team"]].index

Index(['Real Madrid', 'Barcelona', 'Atletico Madrid', 'Valencia',
       'Athletic Bilbao', 'Sevilla', 'Espanyol', 'Real Sociedad', 'Zaragoza',
       'Real Betis', 'Deportivo La Coruna', 'Celta Vigo', 'Valladolid',
       'Racing Santander', 'Sporting Gijon', 'Osasuna', 'Malaga', 'Oviedo',
       'Mallorca', 'Las Palmas', 'Villarreal', 'Granada', 'Rayo Vallecano',
       'Elche', 'Getafe', 'Hercules', 'Tenerife', 'Murcia', 'Alaves',
       'Levante', 'Salamanca', 'Sabadell', 'Cadiz', 'Logrones', 'Castellon',
       'Albacete', 'Almeria', 'Cordoba', 'Compostela', 'Recreativo',
       'Burgos CF', 'Pontevedra', 'Numancia', 'Eibar', 'Arenas', 'Real Burgos',
       'Gimnastic', 'Extremadura', 'Merida', 'Alcoyano', 'Jaen', 'Real Union',
       'AD Almeria', 'Europa', 'Lleida', 'Leganes', 'Xerez', 'Condal',
       'Atletico Tetuan', 'Cultural Leonesa', 'Girona'],
      dtype='object', name='Team')

In [42]:
#Replace all na values from winning_percent column to 0
df["Winning_percent"].fillna("0")

1     59.6307
2     57.2411
3     47.4751
4     44.5571
5     43.7726
6      41.113
7     36.1005
8     37.5326
9      35.146
10    35.0694
11    36.7974
12    34.5112
13    31.5825
14    31.7227
15    32.3045
16    32.3217
17    31.0757
18    34.2282
19    33.7045
20    33.4854
21    41.1765
22    29.3801
23    28.9877
24     29.941
25    32.2368
26    29.2994
27    31.3765
28     24.744
29    32.8947
30    28.1095
       ...
32    30.2817
33    23.2143
34    27.7457
35    30.8383
36    28.1481
37     27.193
38     29.078
39       32.5
40    26.8817
41    28.9216
42    29.4444
43    24.3421
44    30.7018
45    33.0769
46     22.807
47    29.3103
48         25
49      23.75
50    27.7778
51    32.2222
52    29.1667
53         25
54    33.3333
55    19.1176
56    21.0526
57    21.0526
58    23.3333
59    23.3333
60    16.6667
61          0
Name: Winning_percent, Length: 61, dtype: object

In [27]:
#Top 5 teams with highest winning percentage
Top_5 = df.nlargest(5,"Winning_percent")
print(Top_5["Team"])

1        Real Madrid
2          Barcelona
3    Atletico Madrid
4           Valencia
5    Athletic Bilbao
Name: Team, dtype: object

In [38]:
#Group by Best position and sumup the points scored
df_bestposition = df.groupby("BestPosition")["Points"].agg("sum")
df_bestposition

BestPosition
1     27933
10      450
11      445
12      511
14       71
15       14
16       81
17      266
19       81
2      6904
20       34
3      5221
4      6563
5      1884
6      2113
7      1186
8      1134
9        96
Name: Points, dtype: int32

In [39]:
#Group by bestposition and team and sum of points scored by them
df_bestposition_1 = df.groupby(by=["BestPosition","Team"])["Points"].agg("sum")
df_bestposition_1

BestPosition  Team
1             Athletic Bilbao        3368
              Atletico Madrid        3442
              Barcelona              4262
              Deportivo La Coruna    1814
              Real Betis             1884
              Real Madrid            4385
              Real Sociedad          2573
              Sevilla                2819
              Valencia               3386
10            AD Almeria               52
              Alcoyano                 76
              Compostela              190
              Eibar                   132
11            Murcia                  445
12            Burgos CF               168
              Cadiz                   343
14            Jaen                     71
15            Cultural Leonesa         14
16            Atletico Tetuan          19
              Condal                   22
              Lleida                   40
17            Extremadura              83
              Leganes                  35
              Numancia                148
19            Merida                   81
2             Las Palmas             1020
              Racing Santander       1416
              Sporting Gijon         1389
              Villarreal              970
              Zaragoza               2109
                                     ...
3             Arenas                  107
              Espanyol               2792
              Mallorca               1148
              Oviedo                 1174
4             Castellon               285
              Celta Vigo             1789
              Malaga                 1314
              Osasuna                1351
              Sabadell                353
              Valladolid             1471
5             Cordoba                 230
              Elche                   606
              Hercules                538
              Tenerife                510
6             Alaves                  421
              Getafe                  553
              Granada                 667
              Levante                 416
              Real Union               56
7             Albacete                277
              Gimnastic                91
              Logrones                293
              Pontevedra              150
              Salamanca               375
8             Almeria                 242
              Europa                   42
              Rayo Vallecano          662
              Recreativo              188
9             Girona                    0
              Real Burgos              96
Name: Points, Length: 61, dtype: int32